##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

! special colors
*.foreground:  #d5c4a1
*.background:  #000000
*.cursorColor:  #f871b4
! black
*.color0:      #1d2021
*.color8:      #665c54
! red
*.color1:      #fb4934
*.color9:      #fb4934
! green
*.color2:      #b8bb26
*.color10:     #b8bb26
! yellow
*.color3:      #fabd2f
*.color11:     #fabd2f
! blue
*.color4:      #83a598
*.color12:     #83a598
! magenta
*.color5:      #d3869b
*.color13:     #d3869b
! cyan
*.color6:      #00ffff
*.color14:     #8ec07c
! white
*.color7:      #d5c4a1
*.color15:     #fbf1c7

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt.font: xft:Source Code Pro for Powerline:pixelsize=15
URxvt.letterSpace: 0

*antialias:  true
*autohint:   false

rofi.show-icons:            true
rofi.modi:                  drun,run,window,ssh
rofi.lines:                 10
rofi.line-padding:          12
rofi.matching:              fuzzy
rofi.bw:                    0
rofi.padding:               0
rofi.separator-style:       none
rofi.hide-scrollbar:        true
rofi.line-margin:           0
rofi.font:                  Hack 10
rofi.theme:                 ~/.config/rofi/config.rasi
